@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.main_container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para el encabezado y el menú de navegación */
header {
  background-color: #333;
  padding: 15px 0;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #a9065d;
}

/* Estilos para la sección principal */
main {
  padding: 20px;
  text-align: center;
}

main img {
  max-width: 50%;
  height: auto;
  margin: 20px 0;
}

main h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

main p {
  font-size: 1rem;
  margin: 10px 0;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

footer p {
  margin: 5px 0;
}
